<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandCricket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CFDE82A1C9CC0B800F1526C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CFDE83E1C9CC0B800F1526C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CFDE8491C9CC0B800F1526C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
